[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
bleach = "*"
brotlipy = "*"
coverage = "*"
django-annoying = "*"
"django-bootstrap3" = "*"
django-brake = "*"
django-debug-toolbar = "~=1.4"
django-extensions = "*"
django-ipware = "~=1.1.2"
django-nose = "*"
django-recaptcha = "~=1.0.4"
django-redis = "*"
"django-sendgrid-v5" = "*"
docutils = "~=0.12"
fake-factory = "~=0.5.7"
hypothesis = "~=3.1.0"
mixpanel = "~=4.2.0"
mixpanel-py-async = "*"
"psycopg2" = "~=2.7.1"
pytz = "*"
raven = "*"
requests = "~=2.11.1"
shortuuid = "~=0.4.2"
schema = "~=0.4.0"
sqlparse = "~=0.2.0"
textile = "~=2.2.2"
whitenoise = "*"
"html5lib" = "*"
captainwebhook = "*"
django = "~=2.0.0"
markdown = "~=2.6.5"
pygments = "*"
uwsgi = "~=2.0.11"
werkzeug = "~=0.11.2"
django-tokenauth = "*"
djangoql = "*"
django-cloudflare-push = "*"

[dev-packages]
mypy-lang = "*"
"flake8" = "*"
"pep8-naming" = "*"
ipython = "*"
bpython = "*"
yapf = "*"
isort = "*"

[requires]
python_version = "3.6"
