Django~=1.9
django-annoying~=0.8.4
django-bootstrap3~=6.2.2
django-browserid~=1.0.2
django-debug-toolbar~=1.4
django-extensions~=1.5.9
docutils~=0.12
Markdown~=2.6.5
pygments~=2.0.2
psycopg2~=2.6.1
pytz
shortuuid~=0.4.2
Textile~=2.2.2
uwsgi~=2.0.11
Werkzeug~=0.11.2

flake8
pip
captainwebhook
