ansible
bleach
brotlipy
coverage
Django~=2.0.0
django-annoying
django-bootstrap3
django-brake
django-debug-toolbar~=1.4
django-extensions
django-ipware~=1.1.2
django-nose
django-recaptcha~=1.0.4
django-redis~=4.3.0
django-sendgrid-v5
docutils~=0.12
fake-factory~=0.5.7
hypothesis~=3.1.0
Markdown~=2.6.5
mixpanel~=4.2.0
mixpanel-py-async
pygments
psycopg2~=2.6.1
pytz
raven
requests~=2.11.1
shortuuid~=0.4.2
schema~=0.4.0
sqlparse~=0.2.0
Textile~=2.2.2
uwsgi~=2.0.11
Werkzeug~=0.11.2
whitenoise
html5lib

captainwebhook
