.pretty-paste .hll { background-color: #ffffcc }
.pretty-paste  { background: #ffffff; }
.pretty-paste .c { color: #888888 } /* Comment */
.pretty-paste .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.pretty-paste .k { color: #008800; font-weight: bold } /* Keyword */
.pretty-paste .o { color: #333333 } /* Operator */
.pretty-paste .ch { color: #888888 } /* Comment.Hashbang */
.pretty-paste .cm { color: #888888 } /* Comment.Multiline */
.pretty-paste .cp { color: #557799 } /* Comment.Preproc */
.pretty-paste .cpf { color: #888888 } /* Comment.PreprocFile */
.pretty-paste .c1 { color: #888888 } /* Comment.Single */
.pretty-paste .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.pretty-paste .gd { color: #A00000 } /* Generic.Deleted */
.pretty-paste .ge { font-style: italic } /* Generic.Emph */
.pretty-paste .gr { color: #FF0000 } /* Generic.Error */
.pretty-paste .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pretty-paste .gi { color: #00A000 } /* Generic.Inserted */
.pretty-paste .go { color: #888888 } /* Generic.Output */
.pretty-paste .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.pretty-paste .gs { font-weight: bold } /* Generic.Strong */
.pretty-paste .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pretty-paste .gt { color: #0044DD } /* Generic.Traceback */
.pretty-paste .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.pretty-paste .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.pretty-paste .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.pretty-paste .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
.pretty-paste .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.pretty-paste .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.pretty-paste .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.pretty-paste .s { background-color: #fff0f0 } /* Literal.String */
.pretty-paste .na { color: #0000CC } /* Name.Attribute */
.pretty-paste .nb { color: #007020 } /* Name.Builtin */
.pretty-paste .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.pretty-paste .no { color: #003366; font-weight: bold } /* Name.Constant */
.pretty-paste .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.pretty-paste .ni { color: #880000; font-weight: bold } /* Name.Entity */
.pretty-paste .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.pretty-paste .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.pretty-paste .nl { color: #997700; font-weight: bold } /* Name.Label */
.pretty-paste .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.pretty-paste .nt { color: #007700 } /* Name.Tag */
.pretty-paste .nv { color: #996633 } /* Name.Variable */
.pretty-paste .ow { color: #000000; font-weight: bold } /* Operator.Word */
.pretty-paste .w { color: #bbbbbb } /* Text.Whitespace */
.pretty-paste .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.pretty-paste .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.pretty-paste .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.pretty-paste .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.pretty-paste .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.pretty-paste .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.pretty-paste .sc { color: #0044DD } /* Literal.String.Char */
.pretty-paste .sd { color: #DD4422 } /* Literal.String.Doc */
.pretty-paste .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.pretty-paste .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.pretty-paste .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.pretty-paste .si { background-color: #eeeeee } /* Literal.String.Interpol */
.pretty-paste .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.pretty-paste .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.pretty-paste .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.pretty-paste .ss { color: #AA6600 } /* Literal.String.Symbol */
.pretty-paste .bp { color: #007020 } /* Name.Builtin.Pseudo */
.pretty-paste .vc { color: #336699 } /* Name.Variable.Class */
.pretty-paste .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.pretty-paste .vi { color: #3333BB } /* Name.Variable.Instance */
.pretty-paste .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
