html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
td,
th {
  padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Verdana, sans-serif;
}
* {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
table {
    border-collapse: collapse;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    overflow: auto;
}
article {
    position: relative;
}
.meta-footer {
    text-align: right;
    color: #999;
    padding: 7px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 11px;
}
.pretty-paste .paste pre,
.pastetable pre {
    padding: 0;
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    color: inherit;
    border-radius: 0;
}
.pretty-paste .lineno,
.pastetable .linenos pre {
    background: rgba(255,255,255,.2);
    border-radius: 0;
    text-align: right;
}
.pretty-paste .lineno {
    background: rgba(0,0,0,.2);
    display: inline-block;
    padding: 0 10px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    color: rgb(255,255,255,.5);
}

.pretty-paste .paste > pre > span > span::selection {
    background-color: rgb(104, 150, 211);
    color: #fff;
}
.pretty-paste .paste > pre > span {
    display: flex;
    flex-direction: row;
}
.pretty-paste .paste pre > span > .lineno + span {
    flex-grow: 1;
    padding-left: 10px;
}
.pastetable .linenos pre a {
    color: inherit;
    text-decoration: none;
    cursor: default;
}
.pretty-paste {
    overflow: auto;
    width: 1px;
    min-width: 100%;
}
.pastetable .paste pre {
    padding-left: 0;
    padding-right: 0;
}
.pastetable .paste pre > span {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}
.pretty-paste .paste pre.copying .lineno {
    display: none;
}
.pastetable .paste pre.copying > span {
    display: inline;
}
.pretty-paste .paste pre > span.selected > .lineno,
.pretty-paste .paste pre > span.selected > .lineno + span,
.pastetable .paste pre > span.selected {
    background-color: rgb(52,93,145) !important;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0.25),inset 0px -1px 0px rgba(0,0,0,.25);
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
}
.pretty-paste .paste pre > span.selected * {
    color: #fff !important;
}
.pretty-paste.markdown-language {
    padding: 10px 15px;
    background: #E6E2D4;
    color: #333;
    margin: 0 auto;
    line-height: 1.42857143;
    font-size: 14px;
}

/* Wrapping */
.pretty-paste[data-wrap="1"] .paste pre > span > .lineno + span {
    white-space: break-spaces;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 0;
    margin-bottom: 10px;
}
.pretty-paste.markdown-language h1 {
    font-weight: bold;
    font-size: 36px;
}
.pretty-paste.markdown-language h2 {
    font-weight: bold;
    font-size: 30px;
}
.pretty-paste.markdown-language h3 { font-size: 20px; }
.pretty-paste.markdown-language h4 { font-size: 18px; }
.pretty-paste.markdown-language h5 { font-size: 14px; }
.pretty-paste.markdown-language h6 { font-size: 12px; }
.pretty-paste.markdown-language p { margin: 0 0 10px; }
.pretty-paste.markdown-language a {
    color: #333;
    text-decoration: underline;
}
.pretty-paste[aria-hidden="true"] {
    visibility: hidden;
    display: none;
}
footer {
    background-color: #FFFBEC;
    color: #737373;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .wrap,
footer .copy,
footer .raw,
footer a {
    color: #737373;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
footer .tools {
    display: flex;
}
footer .caption .sole {
    padding-left: 7px;
}
footer .tools span {
    border-left: 1px solid rgba(0,0,0,.1);
    padding: 7px;        
}
footer .tab {
    position: relative;
    padding: 7px;
    color: #737373;
    font-weight: bold;
    text-decoration: none;
}
footer .tab:not(.active):hover {
    background: rgba(204, 27, 27, 0.5);
    color: #fff;
    cursor: pointer;
}
footer .active {
    background: #CC1B1B;
    color: #fff;
}
footer a:hover {
    text-decoration: underline;
}
footer a.website {
    color: #CC1B1B;
}
footer .wrap:hover,
footer .copy:hover,
footer .raw:hover {
    background-color: #CC1B1B;
    color: #fff;
    text-decoration: none;
}
@media (max-width: 230px) {
    footer .raw {
        display: none;
    }
}