.pretty-paste .hll { background-color: #ffffcc }
.pretty-paste { background: #1e1e27; color: #cfbfad }
.pretty-paste .c { color: #cd8b00 } /* Comment */
.pretty-paste .err { color: #ffffff; background-color: #6e2e2e } /* Error */
.pretty-paste .k { color: #808bed } /* Keyword */
.pretty-paste .n { color: #cfbfad } /* Name */
.pretty-paste .o { color: #666666 } /* Operator */
.pretty-paste .x { color: #cfbfad } /* Other */
.pretty-paste .p { color: #cfbfad } /* Punctuation */
.pretty-paste .ch { color: #cd8b00 } /* Comment.Hashbang */
.pretty-paste .cm { color: #cd8b00 } /* Comment.Multiline */
.pretty-paste .cp { color: #409090 } /* Comment.Preproc */
.pretty-paste .cpf { color: #ffcd8b; background-color: #404040 } /* Comment.PreprocFile */
.pretty-paste .c1 { color: #cd8b00 } /* Comment.Single */
.pretty-paste .cs { color: #808bed } /* Comment.Special */
.pretty-paste .gd { color: #A00000 } /* Generic.Deleted */
.pretty-paste .ge { font-style: italic } /* Generic.Emph */
.pretty-paste .gr { color: #FF0000 } /* Generic.Error */
.pretty-paste .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pretty-paste .gi { color: #00A000 } /* Generic.Inserted */
.pretty-paste .go { color: #888888 } /* Generic.Output */
.pretty-paste .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.pretty-paste .gs { font-weight: bold } /* Generic.Strong */
.pretty-paste .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pretty-paste .gt { color: #0044DD } /* Generic.Traceback */
.pretty-paste .kc { color: #808bed } /* Keyword.Constant */
.pretty-paste .kd { color: #808bed } /* Keyword.Declaration */
.pretty-paste .kn { color: #808bed } /* Keyword.Namespace */
.pretty-paste .kp { color: #808bed } /* Keyword.Pseudo */
.pretty-paste .kr { color: #808bed } /* Keyword.Reserved */
.pretty-paste .kt { color: #ff8bff } /* Keyword.Type */
.pretty-paste .m { color: #f0ad6d } /* Literal.Number */
.pretty-paste .s { color: #ffcd8b; background-color: #404040 } /* Literal.String */
.pretty-paste .na { color: #cfbfad } /* Name.Attribute */
.pretty-paste .nb { color: #808bed } /* Name.Builtin */
.pretty-paste .nc { color: #ff8bff } /* Name.Class */
.pretty-paste .no { color: #409090 } /* Name.Constant */
.pretty-paste .nd { color: #409090 } /* Name.Decorator */
.pretty-paste .ni { color: #cfbfad } /* Name.Entity */
.pretty-paste .ne { color: #ff0000 } /* Name.Exception */
.pretty-paste .nf { color: #c080d0 } /* Name.Function */
.pretty-paste .nl { color: #808bed } /* Name.Label */
.pretty-paste .nn { color: #ff0000 } /* Name.Namespace */
.pretty-paste .nx { color: #cfbfad } /* Name.Other */
.pretty-paste .py { color: #cfbfad } /* Name.Property */
.pretty-paste .nt { color: #cfbfad } /* Name.Tag */
.pretty-paste .nv { color: #cfbfad } /* Name.Variable */
.pretty-paste .ow { color: #666666 } /* Operator.Word */
.pretty-paste .w { color: #434357 } /* Text.Whitespace */
.pretty-paste .mb { color: #f0ad6d } /* Literal.Number.Bin */
.pretty-paste .mf { color: #f0ad6d } /* Literal.Number.Float */
.pretty-paste .mh { color: #f0ad6d } /* Literal.Number.Hex */
.pretty-paste .mi { color: #f0ad6d } /* Literal.Number.Integer */
.pretty-paste .mo { color: #f0ad6d } /* Literal.Number.Oct */
.pretty-paste .sa { color: #ffcd8b; background-color: #404040 } /* Literal.String.Affix */
.pretty-paste .sb { color: #ffcd8b; background-color: #404040 } /* Literal.String.Backtick */
.pretty-paste .sc { color: #ffcd8b; background-color: #404040 } /* Literal.String.Char */
.pretty-paste .dl { color: #ffcd8b; background-color: #404040 } /* Literal.String.Delimiter */
.pretty-paste .sd { color: #808bed; background-color: #404040 } /* Literal.String.Doc */
.pretty-paste .s2 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Double */
.pretty-paste .se { color: #ffcd8b; background-color: #404040 } /* Literal.String.Escape */
.pretty-paste .sh { color: #ffcd8b; background-color: #404040 } /* Literal.String.Heredoc */
.pretty-paste .si { color: #ffcd8b; background-color: #404040 } /* Literal.String.Interpol */
.pretty-paste .sx { color: #ffcd8b; background-color: #404040 } /* Literal.String.Other */
.pretty-paste .sr { color: #ffcd8b; background-color: #404040 } /* Literal.String.Regex */
.pretty-paste .s1 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Single */
.pretty-paste .ss { color: #ffcd8b; background-color: #404040 } /* Literal.String.Symbol */
.pretty-paste .bp { color: #ffff00 } /* Name.Builtin.Pseudo */
.pretty-paste .fm { color: #c080d0 } /* Name.Function.Magic */
.pretty-paste .vc { color: #cfbfad } /* Name.Variable.Class */
.pretty-paste .vg { color: #cfbfad } /* Name.Variable.Global */
.pretty-paste .vi { color: #cfbfad } /* Name.Variable.Instance */
.pretty-paste .vm { color: #cfbfad } /* Name.Variable.Magic */
.pretty-paste .il { color: #f0ad6d } /* Literal.Number.Integer.Long */
