.pretty-paste .hll { background-color: #404040 }
.pretty-paste  { background: #202020; color: #d0d0d0 }
.pretty-paste .c { color: #999999; font-style: italic } /* Comment */
.pretty-paste .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.pretty-paste .esc { color: #d0d0d0 } /* Escape */
.pretty-paste .g { color: #d0d0d0 } /* Generic */
.pretty-paste .k { color: #6ab825; font-weight: bold } /* Keyword */
.pretty-paste .l { color: #d0d0d0 } /* Literal */
.pretty-paste .n { color: #d0d0d0 } /* Name */
.pretty-paste .o { color: #d0d0d0 } /* Operator */
.pretty-paste .x { color: #d0d0d0 } /* Other */
.pretty-paste .p { color: #d0d0d0 } /* Punctuation */
.pretty-paste .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
.pretty-paste .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.pretty-paste .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.pretty-paste .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
.pretty-paste .c1 { color: #999999; font-style: italic } /* Comment.Single */
.pretty-paste .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.pretty-paste .gd { color: #d22323 } /* Generic.Deleted */
.pretty-paste .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.pretty-paste .gr { color: #d22323 } /* Generic.Error */
.pretty-paste .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.pretty-paste .gi { color: #589819 } /* Generic.Inserted */
.pretty-paste .go { color: #cccccc } /* Generic.Output */
.pretty-paste .gp { color: #aaaaaa } /* Generic.Prompt */
.pretty-paste .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.pretty-paste .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.pretty-paste .gt { color: #d22323 } /* Generic.Traceback */
.pretty-paste .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.pretty-paste .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.pretty-paste .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.pretty-paste .kp { color: #6ab825 } /* Keyword.Pseudo */
.pretty-paste .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.pretty-paste .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.pretty-paste .ld { color: #d0d0d0 } /* Literal.Date */
.pretty-paste .m { color: #3677a9 } /* Literal.Number */
.pretty-paste .s { color: #ed9d13 } /* Literal.String */
.pretty-paste .na { color: #bbbbbb } /* Name.Attribute */
.pretty-paste .nb { color: #24909d } /* Name.Builtin */
.pretty-paste .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.pretty-paste .no { color: #40ffff } /* Name.Constant */
.pretty-paste .nd { color: #ffa500 } /* Name.Decorator */
.pretty-paste .ni { color: #d0d0d0 } /* Name.Entity */
.pretty-paste .ne { color: #bbbbbb } /* Name.Exception */
.pretty-paste .nf { color: #447fcf } /* Name.Function */
.pretty-paste .nl { color: #d0d0d0 } /* Name.Label */
.pretty-paste .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.pretty-paste .nx { color: #d0d0d0 } /* Name.Other */
.pretty-paste .py { color: #d0d0d0 } /* Name.Property */
.pretty-paste .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.pretty-paste .nv { color: #40ffff } /* Name.Variable */
.pretty-paste .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.pretty-paste .w { color: #666666 } /* Text.Whitespace */
.pretty-paste .mb { color: #3677a9 } /* Literal.Number.Bin */
.pretty-paste .mf { color: #3677a9 } /* Literal.Number.Float */
.pretty-paste .mh { color: #3677a9 } /* Literal.Number.Hex */
.pretty-paste .mi { color: #3677a9 } /* Literal.Number.Integer */
.pretty-paste .mo { color: #3677a9 } /* Literal.Number.Oct */
.pretty-paste .sb { color: #ed9d13 } /* Literal.String.Backtick */
.pretty-paste .sc { color: #ed9d13 } /* Literal.String.Char */
.pretty-paste .sd { color: #ed9d13 } /* Literal.String.Doc */
.pretty-paste .s2 { color: #ed9d13 } /* Literal.String.Double */
.pretty-paste .se { color: #ed9d13 } /* Literal.String.Escape */
.pretty-paste .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.pretty-paste .si { color: #ed9d13 } /* Literal.String.Interpol */
.pretty-paste .sx { color: #ffa500 } /* Literal.String.Other */
.pretty-paste .sr { color: #ed9d13 } /* Literal.String.Regex */
.pretty-paste .s1 { color: #ed9d13 } /* Literal.String.Single */
.pretty-paste .ss { color: #ed9d13 } /* Literal.String.Symbol */
.pretty-paste .bp { color: #24909d } /* Name.Builtin.Pseudo */
.pretty-paste .vc { color: #40ffff } /* Name.Variable.Class */
.pretty-paste .vg { color: #40ffff } /* Name.Variable.Global */
.pretty-paste .vi { color: #40ffff } /* Name.Variable.Instance */
.pretty-paste .il { color: #3677a9 } /* Literal.Number.Integer.Long */
