.pretty-paste .hll { background-color: #ffffcc }
.pretty-paste  { background: #ffffff; }
.pretty-paste .c { color: #888888 } /* Comment */
.pretty-paste .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.pretty-paste .k { color: #008800; font-weight: bold } /* Keyword */
.pretty-paste .cm { color: #888888 } /* Comment.Multiline */
.pretty-paste .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.pretty-paste .c1 { color: #888888 } /* Comment.Single */
.pretty-paste .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.pretty-paste .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.pretty-paste .ge { font-style: italic } /* Generic.Emph */
.pretty-paste .gr { color: #aa0000 } /* Generic.Error */
.pretty-paste .gh { color: #333333 } /* Generic.Heading */
.pretty-paste .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.pretty-paste .go { color: #888888 } /* Generic.Output */
.pretty-paste .gp { color: #555555 } /* Generic.Prompt */
.pretty-paste .gs { font-weight: bold } /* Generic.Strong */
.pretty-paste .gu { color: #666666 } /* Generic.Subheading */
.pretty-paste .gt { color: #aa0000 } /* Generic.Traceback */
.pretty-paste .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.pretty-paste .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.pretty-paste .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.pretty-paste .kp { color: #008800 } /* Keyword.Pseudo */
.pretty-paste .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.pretty-paste .kt { color: #888888; font-weight: bold } /* Keyword.Type */
.pretty-paste .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.pretty-paste .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.pretty-paste .na { color: #336699 } /* Name.Attribute */
.pretty-paste .nb { color: #003388 } /* Name.Builtin */
.pretty-paste .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.pretty-paste .no { color: #003366; font-weight: bold } /* Name.Constant */
.pretty-paste .nd { color: #555555 } /* Name.Decorator */
.pretty-paste .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.pretty-paste .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.pretty-paste .nl { color: #336699; font-style: italic } /* Name.Label */
.pretty-paste .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.pretty-paste .py { color: #336699; font-weight: bold } /* Name.Property */
.pretty-paste .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.pretty-paste .nv { color: #336699 } /* Name.Variable */
.pretty-paste .ow { color: #008800 } /* Operator.Word */
.pretty-paste .w { color: #bbbbbb } /* Text.Whitespace */
.pretty-paste .mb { color: #0000DD; font-weight: bold } /* Literal.Number.Bin */
.pretty-paste .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.pretty-paste .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.pretty-paste .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.pretty-paste .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.pretty-paste .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.pretty-paste .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.pretty-paste .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.pretty-paste .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.pretty-paste .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.pretty-paste .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.pretty-paste .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.pretty-paste .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.pretty-paste .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.pretty-paste .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.pretty-paste .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.pretty-paste .bp { color: #003388 } /* Name.Builtin.Pseudo */
.pretty-paste .vc { color: #336699 } /* Name.Variable.Class */
.pretty-paste .vg { color: #dd7700 } /* Name.Variable.Global */
.pretty-paste .vi { color: #3333bb } /* Name.Variable.Instance */
.pretty-paste .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
