.pretty-paste .hll { background-color: #ffffcc }
.pretty-paste  { background: #002B36; color: #93A1A1 }
.pretty-paste .c { color: #586E75 } /* Comment */
.pretty-paste .err { color: #93A1A1 } /* Error */
.pretty-paste .esc { color: #93A1A1 } /* Escape */
.pretty-paste .g { color: #93A1A1 } /* Generic */
.pretty-paste .k { color: #719e07 } /* Keyword */
.pretty-paste .l { color: #93A1A1 } /* Literal */
.pretty-paste .n { color: #93A1A1 } /* Name */
.pretty-paste .o { color: #719e07 } /* Operator */
.pretty-paste .x { color: #CB4B16 } /* Other */
.pretty-paste .p { color: #93A1A1 } /* Punctuation */
.pretty-paste .cm { color: #586E75 } /* Comment.Multiline */
.pretty-paste .cp { color: #719e07 } /* Comment.Preproc */
.pretty-paste .c1 { color: #586E75 } /* Comment.Single */
.pretty-paste .cs { color: #719e07 } /* Comment.Special */
.pretty-paste .gd { color: #DC322F } /* Generic.Deleted */
.pretty-paste .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.pretty-paste .gr { color: #DC322F; font-weight: bold } /* Generic.Error */
.pretty-paste .gh { color: #CB4B16 } /* Generic.Heading */
.pretty-paste .gi { color: #719e07 } /* Generic.Inserted */
.pretty-paste .go { color: #93A1A1 } /* Generic.Output */
.pretty-paste .gp { color: #93A1A1 } /* Generic.Prompt */
.pretty-paste .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.pretty-paste .gu { color: #268BD2 } /* Generic.Subheading */
.pretty-paste .gt { color: #93A1A1 } /* Generic.Traceback */
.pretty-paste .kc { color: #CB4B16 } /* Keyword.Constant */
.pretty-paste .kd { color: #268BD2 } /* Keyword.Declaration */
.pretty-paste .kn { color: #719e07 } /* Keyword.Namespace */
.pretty-paste .kp { color: #719e07 } /* Keyword.Pseudo */
.pretty-paste .kr { color: #268BD2 } /* Keyword.Reserved */
.pretty-paste .kt { color: #DC322F } /* Keyword.Type */
.pretty-paste .ld { color: #93A1A1 } /* Literal.Date */
.pretty-paste .m { color: #2AA198 } /* Literal.Number */
.pretty-paste .s { color: #2AA198 } /* Literal.String */
.pretty-paste .na { color: #93A1A1 } /* Name.Attribute */
.pretty-paste .nb { color: #B58900 } /* Name.Builtin */
.pretty-paste .nc { color: #268BD2 } /* Name.Class */
.pretty-paste .no { color: #CB4B16 } /* Name.Constant */
.pretty-paste .nd { color: #268BD2 } /* Name.Decorator */
.pretty-paste .ni { color: #CB4B16 } /* Name.Entity */
.pretty-paste .ne { color: #CB4B16 } /* Name.Exception */
.pretty-paste .nf { color: #268BD2 } /* Name.Function */
.pretty-paste .nl { color: #93A1A1 } /* Name.Label */
.pretty-paste .nn { color: #93A1A1 } /* Name.Namespace */
.pretty-paste .nx { color: #93A1A1 } /* Name.Other */
.pretty-paste .py { color: #93A1A1 } /* Name.Property */
.pretty-paste .nt { color: #268BD2 } /* Name.Tag */
.pretty-paste .nv { color: #268BD2 } /* Name.Variable */
.pretty-paste .ow { color: #719e07 } /* Operator.Word */
.pretty-paste .w { color: #93A1A1 } /* Text.Whitespace */
.pretty-paste .mb { color: #2AA198 } /* Literal.Number.Bin */
.pretty-paste .mf { color: #2AA198 } /* Literal.Number.Float */
.pretty-paste .mh { color: #2AA198 } /* Literal.Number.Hex */
.pretty-paste .mi { color: #2AA198 } /* Literal.Number.Integer */
.pretty-paste .mo { color: #2AA198 } /* Literal.Number.Oct */
.pretty-paste .sb { color: #586E75 } /* Literal.String.Backtick */
.pretty-paste .sc { color: #2AA198 } /* Literal.String.Char */
.pretty-paste .sd { color: #93A1A1 } /* Literal.String.Doc */
.pretty-paste .s2 { color: #2AA198 } /* Literal.String.Double */
.pretty-paste .se { color: #CB4B16 } /* Literal.String.Escape */
.pretty-paste .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.pretty-paste .si { color: #2AA198 } /* Literal.String.Interpol */
.pretty-paste .sx { color: #2AA198 } /* Literal.String.Other */
.pretty-paste .sr { color: #DC322F } /* Literal.String.Regex */
.pretty-paste .s1 { color: #2AA198 } /* Literal.String.Single */
.pretty-paste .ss { color: #2AA198 } /* Literal.String.Symbol */
.pretty-paste .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.pretty-paste .vc { color: #268BD2 } /* Name.Variable.Class */
.pretty-paste .vg { color: #268BD2 } /* Name.Variable.Global */
.pretty-paste .vi { color: #268BD2 } /* Name.Variable.Instance */
.pretty-paste .il { color: #2AA198 } /* Literal.Number.Integer.Long */
