.container {
    max-width: 800px;
}

/* Header */
.top-header {
    position: relative;
    margin: 20px 0;
    background: transparent url('images/logo.png') no-repeat scroll left center;
    background-size: 150px;
    padding: 20px 0 20px 170px;
}
.top-header a.home {
    position: absolute;
    width: 150px;
    height: 100px;
    left: 0;
    top: 0;
    text-indent: -99999px;
    outline: none;
}
.top-header .persona {
    position: absolute;
    right: 0;
    top: -20px;
    color: #888;
}
.top-header .persona em {
    font-style: normal;
    padding: 5px 10px;
}
.top-header .persona a {
    padding: 5px 10px;
    background: #888;
    color: #fff;
    display: inline-block;
}
.top-header .persona a:hover {
    background-color: #999;
}
.top-header .persona a:focus,
.top-header .persona a:active,
.top-header .persona a:hover {
    text-decoration: none;
}

.top-header h1 {
    font-weight: bold;
    margin: 0 0 5px;
}
.top-header h2 {
    margin: 0;
    color: #888;
    font-size: 22px;
}

/* Pastery form */
.pastery-form .errorlist {
    list-style-type: none;
    color: red;
    font-weight: bold;
    font-size: 15px;
    background: rgba(255,0,0,.15);
    padding: 5px;
}
.pastery-form input,
.pastery-form textarea {
    border-radius: 0;
}
.pastery-form input:focus,
.pastery-form textarea:focus {
    box-shadow: none;
    border-color: #333;
}
.pastery-form .fieldWrapper {
    margin-bottom: 20px;
    position: relative;
}
.pastery-form .language {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}
.pastery-form .language select {
    border-color: rgba(0,0,0,.25);
    max-width: 200px;
    opacity: .3;
    transition: opacity .2s ease-in;
}
.pastery-form .language select:hover {
    opacity: 1;
}
.pastery-form .language select:focus {
    opacity: 1;
    border-color: #333;
    box-shadow: none;
    outline: none;
}
.pastery-form .language em {
    opacity: 0;
    font-style: normal;
}
.pastery-form label {
    font-weight: normal;
    color: #666;
    font-size: 15px;
    margin-right: 5px;
}
.pastery-form #id_expires {
    border-color: rgba(0,0,0,.25);
}
.pastery-form .form-group {
    text-align: center;
}
.pastery-form .btn-primary:focus,
.pastery-form .btn-primary:active,
.pastery-form .btn-primary {
    border-radius: 0;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    border-color: #D41616;
    background-color: #D41616;
    text-transform: uppercase;
}
.pastery-form .btn-primary:focus {
    box-shadow: 0 0 10px #D41616;
}
.pastery-form .btn-primary:hover {
    background-color: #EB1717;
}

/* Alerts */
.alert {
    border: none;
    background-color: #F4D86D;
    color: rgba(0,0,0,.5);
    font-weight: bold;
    font-size: 15px;
}
.alert button {
    color: rgba(0,0,0,.5);
    opacity: 1;
    text-shadow: none;
}

/* Paste */
.paste header {
    position: relative;
    margin-bottom: 20px;
    min-height: 34px;
}
.paste header h1 {
    margin: 0;
    padding-right: 160px;
}
.paste .button-container {
    position: absolute;
    bottom: 0;
    right: 0;
}
.paste .button-container .dropdown-toggle:focus,
.paste .button-container .dropdown-toggle:hover,
.paste .button-container .dropdown-toggle {
    border-right: none;
    background-color: #D41616;
    box-shadow: none;
    color: #fff;
    border-color: #fff;
    padding: 7px 10px;
    z-index: 0;
    font-weight: bold;
    text-transform: uppercase;
}
.paste .button-container .dropdown-toggle:hover,
.paste .button-container .open .dropdown-toggle:focus, 
.paste .button-container .open .dropdown-toggle:hover, 
.paste .button-container .open .dropdown-toggle {
    background: #EB1717;
}
.paste .button-container .tooltip {
    white-space: nowrap;
}
.paste .button-container .dropdown-menu {
    padding: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.paste .button-container .dropdown-toggle em {
    font-style: normal;
}
.paste .button-container input {
    line-height: 1.5;
    font-size: 12px;
    border-left: none;
    border-right: none;
    margin: 0px 1px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #fff;
    color: #555;
    padding: 10px;
    width: 350px;
    border: none;
    padding-right: 42px;
}
.paste .button-container .action-copy {
    position: absolute;
    right: 0;
    top: 0;
}
.paste .button-container .action-copy .btn {
    color: #fff;
    background-color: #D41616;
    border: none;
    padding: 10px 15px;
    border-radius: 0;
}
.paste .expires {
    text-align: right;
    padding: 20px 0 0;
    color: #666;
}

.btn-container {
    text-align: center;
    margin: 20px 0;
}
.new-paste {
    border-radius: 0;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    border-color: #D41616;
    background-color: #D41616;
    text-transform: uppercase;
    color: #fff;
}
.new-paste:hover {
    background-color: #EB1717;
    color: #fff;
}

.pastetable pre {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    color: inherit;
}


.pretty-paste {
    overflow: auto;
}
.pretty-paste.markdown-language {
    padding: 0 15px; 
    background: #f0f0f0;
    color: #333;
}
.pretty-paste.markdown-language a {
    color: #333;
    text-decoration: underline;
}

@media (max-width: 550px) {
    .container {
        padding: 0;
    }
    .pastery-form {
        padding: 0 15px;
    }
    .top-header {
        padding: 0 0 0 100px;
        background-position: 10px 50%;
        background-size: 80px;
        text-align: left;
        margin-top: 40px;
    }
    .top-header .persona {
        right: 15px;
        top: -40px;
    }
    .top-header a.home {
        width: 80px;
        left: 10px;
        height: 60px;
    }
    .top-header h2 {
        font-size: 18px;
    }
    .paste header {
        text-align: left;
        margin-bottom: 0;
        padding: 0 10px;
    }
    .paste header h1 {
        text-align: left;
        margin-bottom: 20px;
        padding-right: 0;
        font-size: 22px;
    }
    .paste .button-container {
        position: static;
        float: none;
        margin: 0 0 20px;
    }
    .paste .button-container .btn-group {
        width: 100%;
    }
    .paste .button-container > div:first-child {
        margin-bottom: 10px;
    }
    .paste .button-container > div {
        float: none;
        position: relative;
    }
    .paste .button-container button {
        border-radius: 0;
        border: none;
        position: absolute;
        z-index: 1 !important;
        top: 1px;
        cursor: default;
    }
    .paste .button-container .dropdown-toggle:hover,
    .paste .button-container .open .dropdown-toggle:focus, 
    .paste .button-container .open .dropdown-toggle:hover, 
    .paste .button-container .open .dropdown-toggle {
        background: #D41616;
    }
    .paste .button-container .caret {
        display: none;
    }
    .paste .button-container .dropdown-menu {
        width: 100%;
        border-radius: 0;
        padding: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: block;
        position: static;
        box-shadow: none;
        margin: 0;
    }
    .paste .button-container input {
        border-radius: 0;
        border: none;
        padding: 7px 5px 7px 60px;
        width: 100%;
        margin: 0;
    }
    .paste .button-container .action-copy {
        display: none;
    }
    .paste .expires { 
        padding: 20px 10px 0 0;
    }
}