html,
body {
    background-color: #FFFBEC;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 980px;
}

footer {
    padding: 20px 0;
    text-align: center;
    font-size: 13px;
    color: #666;
}
footer a {
    color: #999;
    text-decoration: underline;
}
footer a:hover {
    color: #999;
    text-decoration: none;
}

.btn:focus,
.btn:active,
.btn:hover,
.btn {
    border-radius: 0;
    outline: none;
    font-weight: bold;
    border-color: #D41616;
    background-color: #D41616;
    text-transform: uppercase;
    color: #fff;
}
.btn:hover {
    background-color: #EB1717;
}
select:focus {
    border-color: #9DA668 !important;
    box-shadow: none !important;
    outline: none;
}

/* Header */
.top-header {
    margin: 0 0 20px;
    background: #CC1B1B;
    max-height: 50px;
    min-height: 30px;
}
.top-header .container {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-header a.home {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: -1px;
    text-indent: -99999px;
    outline: none;
}

.top-header .persona {
    position: absolute;
    top: 7px;
    right: 15px;
    color: #888;
}
.top-header .persona .btn {
    background-color: transparent;
    border-color: transparent;
}
.top-header .persona .btn:hover,
.top-header .persona .open .btn {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    border-color: transparent;
    box-shadow: none;
}
.top-header .persona .dropdown-menu {
    border-radius: 0;
    margin-top: 10px;
    padding: 0;
    text-align: right;
}
.top-header .persona .dropdown-menu .divider {
    margin: 0;
}
.top-header .persona .dropdown-menu a {
    color: #CC1B1B;
    padding: 5px 10px;
    display: block;
}
.top-header .persona .dropdown-menu a:hover {
    text-decoration: none;
    background-color: #f0f0f0;
}

.top-header .persona a.login {
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
}
.top-header .persona a.login:hover {
    background-color: rgba(255, 255, 255, .2);
}
.top-header .persona a.login:focus,
.top-header .persona a.login:active,
.top-header .persona a.login:hover {
    text-decoration: none;
}


.top-header h1 {
    font-weight: bold;
    font-size: 23px;
    margin: 0;
}
.top-header h1 a {
    outline: none;
    color: #fff;
    padding-left: 30px;
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAsCAMAAAAkRNp0AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURf///0xpcf///////////////////////73SUKYAAAAIdFJOU/4A3z6PILVhjg8XegAAAPtJREFUOMuN1FsWxRAMBVANYf4zvhL0Iq/mr9ZebeWE9IjC3EsuP+l8zKVCooLs0kwMJk3ZpNhgsWEBdYqFXnSUsINKyFZS+nTSqt60GvC2qUunyk7Rk7DblPtCAdu2k1JKENpJOVPDZkE5Wc8elHpcFYsq1fSMWKE0OlWxKhWax4Fo0mZ+jOUeMdMegqH/7S7jByiAQPeWrX/1NEcJZduWpxsdpqMDpkZBTa3SuZNLW1TRDr31on0FAz0p3ymBZsozN3R1NNM5oeO+qla6i8YaNxroi85Tq2pJV7BDt4C+Qwe7tqiiHXpoaAE9dUR3HdN1EOETfcfg+VjYfvuECJkyTAUAAAAAAElFTkSuQmCC) no-repeat scroll 0 7px;
    background-size: 20px;
}

/* Pastery form */
.pastery-form .errorlist {
    list-style-type: none;
    color: red;
    font-weight: bold;
    font-size: 15px;
    background: rgba(255,0,0,.15);
    padding: 5px;
}
.pastery-form input,
.pastery-form textarea {
    border-radius: 0;
}
.pastery-form textarea {
    max-height: 700px !important;
    overflow: auto !important;
    resize: vertical;
}
.pastery-form input:focus,
.pastery-form textarea:focus {
    box-shadow: none;
    border-color: #9DA668;
}
.pastery-form .fieldWrapper {
    margin-bottom: 20px;
    position: relative;
}
.pastery-form .language {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}
.pastery-form .language select {
    border-color: rgba(0,0,0,.25);
    max-width: 200px;
    transition: opacity .2s ease-in;
}
.pastery-form .language select:focus {
    border-color: #9DA668;
    box-shadow: none;
    outline: none;
}
.pastery-form label {
    font-weight: normal;
    color: #666;
    font-size: 15px;
    margin-right: 5px;
}
.pastery-form #id_expires {
    border-color: rgba(0,0,0,.25);
}
.pastery-form .form-group {
    text-align: center;
}
.pastery-form .btn-primary:focus,
.pastery-form .btn-primary:active,
.pastery-form .btn-primary {
    border-radius: 0;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    border-color: #D41616;
    background-color: #D41616;
    text-transform: uppercase;
}
.pastery-form .btn-primary:focus {
    box-shadow: 0 0 10px #D41616;
}
.pastery-form .btn-primary:hover {
    background-color: #EB1717;
}

/* Alerts */
.alert {
    border: none;
    font-weight: bold;
    font-size: 15px;
}
.alert button {
    color: rgba(0,0,0,.5);
    opacity: 1;
    text-shadow: none;
    top: 0 !important;
}

/* Paste */
.paste header {
    position: relative;
    margin-bottom: 20px;
    min-height: 34px;
}
.paste header h1 {
    margin: 0;
    padding-right: 220px;
}
.paste header .tab-arrow {
    position: absolute;
    top: 30px;
    display: none;
    color: rgba(204, 27, 27, 0.5);
    transition: .25s color ease-in;
    cursor: pointer;
}
.paste header .tab-arrow:hover {
    color: rgba(204, 27, 27, 1.0);
}
.paste header.enabled .tab-arrow {
    display: block;
}
.paste header .tab-arrow.right {
    right: 178px;
}
.paste header .tab-arrow.left {
    left: -8px;
}
.paste header h1.tabs {
    font-size: 17px;
    padding: 0;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    top: 20px;
    margin: 0 200px 0 12px;
}

.paste header h1.tabs::-webkit-scrollbar {
    height: 5px;
    background-color: #eee8d5;
}
.paste header h1.tabs::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .25);
}

.paste header h1.tabs .tab {
    padding: 7px 10px 10px;
    font-weight: bold;
    cursor: pointer;
    background: rgba(204, 27, 27, 0.1);
    transition: .25s background;
    display: inline-block;
}
.paste header h1.tabs .tab:not(.active):not(.not-found):hover {
    background: rgba(204, 27, 27, 0.25);
}
.paste header h1.tabs .active {
    background: #CC1B1B;
    color: #fff;
    cursor: default;
}
.paste header h1.tabs .not-found {
    background-color: #ddd;
    color: #666;
}
.paste header h1.tabs .not-found.active {
    background-color: #666;
    color: #ddd;
}
.paste .button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}
.paste .button-container .dropdown-toggle:focus,
.paste .button-container .dropdown-toggle:hover,
.paste .button-container .dropdown-toggle {
    border-right: none;
    background-color: #D41616;
    box-shadow: none;
    color: #fff;
    border-color: #fff;
    padding: 7px 10px;
    z-index: 0;
    font-weight: bold;
    text-transform: uppercase;
    border-top: none;
    border-bottom: none;
    min-width: 44px;
}
.paste .button-container .dropdown-toggle:hover,
.paste .button-container .open .dropdown-toggle:focus,
.paste .button-container .open .dropdown-toggle:hover,
.paste .button-container .open .dropdown-toggle {
    background: #EB1717;
}
.paste .button-container .tooltip {
    white-space: nowrap;
}
.paste .button-container .dropdown-menu {
    padding: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.paste .button-container .pseudo-dropdown {
    display: none;
}
.paste .button-container .dropdown-toggle em {
    font-style: normal;
}
.button-container input {
    cursor: pointer;
    margin: 0px 1px;
    padding: 10px 42px 10px 10px;
    width: 350px;
    border: none;
}
.paste .button-container .pseudo-dropdown,
.button-container input {
    line-height: 1.5;
    font-size: 12px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #fff;
    color: #555;
}
.button-container .action-copy {
    position: absolute;
    right: 0;
    top: 0;
}
.button-container .action-copy .btn {
    color: #fff;
    background-color: #D41616;
    border: none;
    padding: 10px 15px;
    border-radius: 0;
}

.paste-full .top-header .container {
    max-width: 100%;
    width: 100%;
}
.paste-full .paste .container {
    width: 100%;
    max-width: 100%;
}

.paste .meta-footer {
    padding: 20px 0 0;
    color: #666;
}
.paste #report-paste {
    display: inline;
}
.paste #report-paste button {
    display: inline;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;
    outline: none;
}
.paste #report-paste button:hover {
    text-decoration: none;
}

.btn-container {
    text-align: center;
    margin: 20px 0;
}
.new-paste {
    border-radius: 0;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    border-color: #D41616;
    background-color: #D41616;
    text-transform: uppercase;
    color: #fff;
}
.new-paste:focus,
.new-paste:active,
.new-paste:hover {
    background-color: #EB1717;
    color: #fff;
}

.pastetable {
    width: 100%;
}
.pastetable pre {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    color: inherit;
}
.pastetable .linenos {
    width: 1%;
}
.pastetable .linenos pre {
    background: rgba(255,255,255,.2);
    border-radius: 0;
    text-align: right;
}
.pastetable .linenos pre a {
    color: inherit;
    opacity: .5;
    transition: opacity .2s ease-in;
}
.pastetable .linenos pre a:hover,
.pastetable .linenos pre a:focus,
.pastetable .linenos pre a:active,
.pastetable .linenos pre a.selected {
    opacity: 1;
    text-decoration: none;
}
.pastetable .paste pre {
    padding-left: 0;
    padding-right: 0;
}
.pastetable .paste pre > span {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}
.pastetable .paste pre > span.selected {
    background-color: rgba(255, 251, 236, .15);
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0.25),inset 0px -1px 0px rgba(0,0,0,.25);
}
.pretty-paste {
    overflow: auto;
}
.pretty-paste[aria-hidden="true"] {
    visibility: hidden;
    display: none;
}
.pretty-paste.markdown-language {
    padding: 10px 15px 0;
    background: #E6E2D4;
    color: #333;
    max-width: 950px;
    margin: 0 auto;
}
.paste-full .pretty-paste.markdown-language {
    max-width: 100%;
    margin: 0;
}
.pretty-paste.markdown-language h1,
.pretty-paste.markdown-language h2,
.pretty-paste.markdown-language h3,
.pretty-paste.markdown-language h4,
.pretty-paste.markdown-language h5,
.pretty-paste.markdown-language h6 {
    margin-top: 0;
    margin-bottom: 10px;
}
.pretty-paste.markdown-language h1,
.pretty-paste.markdown-language h2 {
    font-weight: bold;
}
.pretty-paste.markdown-language h3 {
    font-size: 20px;
}
.pretty-paste.markdown-language a {
    color: #333;
    text-decoration: underline;
}
.pretty-paste.markdown-language table {
    width: 100%;
    border: 1px solid #B4A87E;
    margin-bottom: 10px;
}
.pretty-paste.markdown-language th {
    background-color: #D0C9AF;
}
.pretty-paste.markdown-language td,
.pretty-paste.markdown-language th {
    border-bottom: 1px solid #B4A87E;
    border-right: 1px solid #B4A87E;
    padding: 5px;
}

/* Account */
.account section {
    margin-bottom: 50px;
}
.account h1 {
    margin: 0 0 20px;
    font-weight: bold;
}
.account section a {
    color: #CC1B1B;
}
.account table.pastes {
    font-size: 15px;
}
.account table.pastes thead {
    font-weight: bold;
    font-size: 18px;
}
.account table.pastes thead th {
    border: none;
    padding: 0 0 5px;
}
.account table.pastes tbody tr:first-child td {
    border-width: 2px;
}
.account table.pastes tbody td {
    padding: 7px 0;
    vertical-align: middle;
    border-color: rgba(0, 0, 0, .05);
}
.account table.pastes .expires {
    color: #555;
    text-align: right;
}

.account .button-container .btn-group {
    display: block;
}
.account .button-container {
    position: relative;
}
.account .button-container .action-copy {
    top: 1px;
    width: 85px;
}
.account .button-container .action-copy > button {
    margin-right: 1px;
}
.account .button-container input {
    width: 100%;
    border: 1px solid #d2d2d2;
}
.account-form article {
    margin-bottom: 20px;
}
.account-form select {
    max-width: 200px;
    display: inline-block;
    margin-left: 20px;
}

/* Login form */
.login-container h1 {
    margin: 0 0 20px;
    font-weight: bold;
}
.login-container p {
    color: #666;
}
.login-container .form-group {
    width: 500px;
    margin: 20px auto;
    font-size: 30px;
    text-align: center;
}
.login-container .form-control {
    font-size: 25px;
    text-align: center;
    padding: 0 20px;
    height: auto;
}
.login-container .btn-primary {
    display: block;
    margin: 0 auto;
    width: 100px;
}

@media (max-width: 550px) {

    .paste header .tab-arrow.left {
        left: 7px;
    }
    .paste header .tab-arrow.right {
        right: 7px;
    }
    .paste header .tab-arrow {
        top: auto;
        bottom: 12px;
    }
    .paste header h1.tabs {
        margin: 0;
        top: 0;
    }
    .paste header.enabled h1.tabs {
        margin: 0 17px;
    }

    .alert {
        margin: 0 15px 20px;
    }

    .container {
        padding: 0;
    }
    .pastery-form {
        padding: 0 15px;
    }
    .pastery-form textarea {
        max-height: 300px !important;
    }

    .top-header .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .page-paste .top-header .persona {
        right: 10px;
    }

    .paste header {
        text-align: left;
        margin-bottom: 0;
        padding: 0 10px;
    }
    .paste header h1 {
        text-align: left;
        margin-bottom: 20px;
        padding-right: 0;
        font-size: 22px;
    }
    .paste .button-container {
        text-align: right;
        position: static;
        float: none;
        margin: 0 0 20px;
        width: 100%;
    }
    .paste .button-container .btn-group {
        width: 100%;
    }
    .paste .button-container .admin-parent form {
        display: inline-block;
        padding: 0;
    }
    .paste .button-container .admin-parent a,
    .paste .button-container .admin-parent button {
        position: static;
        border-radius: 0;
        display: inline-block;
        width: auto;
        margin: 0;
    }
    .paste .button-container > div:first-child {
        margin-top: 0;
    }
    .paste .button-container > div {
        float: none;
        margin-top: 10px;
        position: relative;
    }
    .paste .button-container button,
    .paste .button-container #delete-paste,
    .paste .button-container a.copy-clipboard,
    .paste .button-container a.admin-button {
        border-radius: 0;
        border: none;
        position: absolute;
        z-index: 1 !important;
        top: 1px;
        cursor: default;
        left: 1px;
        display: block;
    }
    .paste .button-container .dropdown-toggle:hover,
    .paste .button-container .open .dropdown-toggle:focus,
    .paste .button-container .open .dropdown-toggle:hover,
    .paste .button-container .open .dropdown-toggle {
        background: #D41616;
    }
    .paste .button-container .caret {
        display: none;
    }
    .paste .button-container .dropdown-menu {
        width: 100%;
        border-radius: 0;
        padding: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: block;
        position: static;
        box-shadow: none;
        margin: 0;
    }
    .paste .button-container input {
        border-radius: 0;
        border: none;
        margin: 0;
    }
    .paste .button-container .pseudo-dropdown {
        height: 34px;
    }
    .paste .button-container .pseudo-dropdown,
    .paste .button-container input {
        padding: 7px 5px 7px 60px;
        width: 100%;
    }
    .paste .button-container .action-copy {
        display: none;
    }
    .paste .meta-footer {
        text-align: right;
        padding:  20px 20px 0;
    }
    .paste .meta-footer div:first-child {
        margin-bottom: 5px;
    }
    .paste .meta-footer div {
        float: none !important;
    }
    .admin-button {
        float: none !important;
        display: block;
        width: 100px;
        margin: 0 auto !important;
    }

    .account section {
        padding: 0 15px;
    }

    .login-container {
        padding: 0 10px;
    }
    .login-container .form-group {
        width: 100%;
    }
    .login-container .form-control {
        display: inline-block;
        width: auto;
    }
}
