{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ current_site.name }} - {% trans "Not found" %}{% endblock %}

{% block content %}
<div class="container">
    <article>

<div class="paste">
	<div class="container">
		<header class="clearfix">
			<h1 class="tabs"><a href="javascript:void(0);" class="tab not-found">{% trans "Paste not found" %}</a></h1>
		</header>
	</div>
    <div class="pretty-paste">
        {% include "404_body.html" %}
    </div>
</div>

    </article>
</div>
{% endblock %}
