{% load i18n %}
<table class="pastetable">
    <tbody>
        <tr>
            <td class="linenos">
                <div class="linenodiv"><pre><a href="#l-1">1</a>
<a href="#l-2">2</a></pre></div>
            </td>
            <td class="code">
                <div class="paste"><pre><span></span><span><a name="l-1"></a>{% blocktrans %}This page could not be found. Maybe it was never here, or maybe it just
{% endblocktrans %}</span><span><a name="l-2"></a>{% blocktrans %}expired. Go back to the home page and try again.{% endblocktrans %}
</span></pre></div>
            </td>
        </tr>
    </tbody>
</table>
