{% load i18n %}
<div class="pretty-paste">
    <div class="paste">
        <pre><span></span><span id="line-1"><a name="l-1"></a><span class="lineno" aria-hidden="true">1</span><span>{% blocktrans %}This paste could not be found. Maybe it was never here, or maybe it just{% endblocktrans %}</span></span><span id="line-2"><a name="l-2"></a><span class="lineno" aria-hidden="true">2</span><span>{% blocktrans %}expired. Go back to the home page and try again.{% endblocktrans %}</span></span></pre>
    </div>
</div>
