{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous"/>
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
    <link href="{% static "css/monokai.css" %}" rel="stylesheet"/>
    <title>{{ current_site.name }}</title>
</head>
<body>
    <header class="top-header clearfix">
        <div class="container">
            <h1><a tabindex="-1" href="{% url 'home' %}" title="{{ current_site.name }}">{{ current_site.name }}</a></h1>
        </div>
    </header>
    <div class="container">

        <article>

            <div class="paste">
                <div class="pretty-paste">
                    <div class="pretty-paste">
                        <table class="pastetable">
                            <tbody>
                                <tr>
                                    <td class="linenos">
                                        <div class="linenodiv"><pre>1</pre></div>
                                    </td>
                                    <td class="code">
                                        <div class="paste"><pre>500 - Internal Server Error</pre></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </article>

        <footer>
            <a href="/api/">API</a> | <a href="/about/">{% trans "About" %}</a>
        </footer>
    </div>
</body>
</html>
