{% extends "base.html" %}

{% load staticfiles i18n %}

{% block content %}
<div class="paste">
    <h1>{% trans "Server error" %}</h1>
    <div class="pretty-paste">
        <table class="pastetable">
            <tbody>
                <tr>
                    <td class="linenos">
                        <div class="linenodiv"><pre>1
2
3</pre></div>
                    </td>
                    <td class="code">
                        <div class="paste"><pre>{% blocktrans %}There has been a server error. This one is totally on us.
We have been notified and are probably fixing it right now,
check back in a bit.{% endblocktrans %}</pre></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
