{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}{{ current_site.name }} - {% trans "Server error" %}{% endblock %}

{% block content %}
<div class="container">
    <article>

<div class="paste">
    <div class="container">
        <header class="clearfix">
            <h1 class="tabs"><a href="javascript:void(0);" class="tab not-found">{% trans "Server error" %}</a></h1>
        </header>
    </div>
    <div class="pretty-paste">
        <div class="pretty-paste">
            <div class="paste">
                <pre><span></span><span id="line-1"><a name="l-1"></a><span class="lineno" aria-hidden="true">1</span><span>{% blocktrans %}There has been a server error. This one is totally on us.{% endblocktrans %}</span></span><span id="line-2"><a name="l-2"></a><span class="lineno" aria-hidden="true">2</span><span>{% blocktrans %}We have been notified and are probably fixing it right now,{% endblocktrans %}</span></span><span id="line-3"><a name="l-3"></a><span class="lineno" aria-hidden="true">3</span><span>{% blocktrans %}check back in a bit.{% endblocktrans %}</span></span></pre>
            </div>
        </div>
    </div>
</div>

    </article>
</div>
{% endblock %}
