{% extends "base.html" %}
{% load bootstrap3 i18n static %}

{% block pageclass %}account{% endblock %}

{% block content %}
<div class="container">
    <article>
{% bootstrap_messages %}

<section>

<h1>{% trans "Preferences" %}</h1>

<form action="{% url "account" %}" method="post" class="account-form">
    {% csrf_token %}

    {% bootstrap_form form %}

    <article>
    <label class="control-label" for="id__paste">{% trans "Style sample" %}</label>
        <div class="paste">
            <div class="pretty-paste">
    <table class="pastetable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19</pre></div></td><td class="code"><div class="paste"><pre><span class="kn">import</span> <span class="nn">unittest</span>


<span class="k">def</span> <span class="nf">median</span><span class="p">(</span><span class="n">pool</span><span class="p">):</span>
    <span class="n">copy</span> <span class="o">=</span> <span class="nb">sorted</span><span class="p">(</span><span class="n">pool</span><span class="p">)</span>
    <span class="n">size</span> <span class="o">=</span> <span class="nb">len</span><span class="p">(</span><span class="n">copy</span><span class="p">)</span>
    <span class="k">if</span> <span class="n">size</span> <span class="o">%</span> <span class="mi">2</span> <span class="o">==</span> <span class="mi">1</span><span class="p">:</span>
        <span class="k">return</span> <span class="n">copy</span><span class="p">[(</span><span class="n">size</span> <span class="o">-</span> <span class="mi">1</span><span class="p">)</span> <span class="o">/</span> <span class="mi">2</span><span class="p">]</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="p">(</span><span class="n">copy</span><span class="p">[</span><span class="n">size</span> <span class="o">/</span> <span class="mi">2</span> <span class="o">-</span> <span class="mi">1</span><span class="p">]</span> <span class="o">+</span> <span class="n">copy</span><span class="p">[</span><span class="n">size</span> <span class="o">/</span> <span class="mi">2</span><span class="p">])</span> <span class="o">/</span> <span class="mi">2</span>


<span class="k">class</span> <span class="nc">TestMedian</span><span class="p">(</span><span class="n">unittest</span><span class="o">.</span><span class="n">TestCase</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">testMedian</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">failUnlessEqual</span><span class="p">(</span><span class="n">median</span><span class="p">([</span><span class="mi">2</span><span class="p">,</span> <span class="mi">9</span><span class="p">,</span> <span class="mi">9</span><span class="p">,</span> <span class="mi">7</span><span class="p">,</span> <span class="mi">9</span><span class="p">,</span> <span class="mi">2</span><span class="p">,</span> <span class="mi">4</span><span class="p">,</span> <span class="mi">5</span><span class="p">,</span> <span class="mi">8</span><span class="p">]),</span> <span class="mi">7</span><span class="p">)</span>


<span class="k">if</span> <span class="n">__name__</span> <span class="o">==</span> <span class="s">&#39;__main__&#39;</span><span class="p">:</span>
    <span class="n">unittest</span><span class="o">.</span><span class="n">main</span><span class="p">()</span>
</pre></div>
</td></tr></table>
            </div>
        </div>

    </article>

    {% buttons %}
    <button type="submit" tabindex="2" class="btn btn-primary">{% trans "Save" %}</button>
    {% endbuttons %}
</form>

</section>

<section>

<h1>{% trans "Your pastes" %}</h1>

<table class="pastes table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th class="expires">{% trans "Expires in" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for paste in pastes %}
    <tr>
        <td><a href="{{ paste.get_absolute_url }}">{{ paste }}</a></td>
        <td class="expires">
            {% blocktrans with paste.expiration|timeuntil as until %}
            {{ until }}
            {% endblocktrans %}
        </td>
    </tr>
    {% empty %}
    <tr><td colspan=3>{% trans "You have no pastes." %}</td></tr>
    {% endfor %}
    </tbody>
</table>

</section>

<section>

<h1>{% trans "Your API key" %}</h1>

<p>
{% blocktrans %}
This is your API key. For more details on how to use it, visit the
<a href="/api/">page</a>.
{% endblocktrans %}
</p>

<div class="button-container" id="copy-code">
    <div class="btn-group">
        <input class="apikey" title="Copied!" value="{{ user.api_key }}" readonly />
    </div>
    <div class="btn-group action-copy">
        <button data-trigger="hover" data-toggle="tooltip" title="" aria-label="Copy to clipboard" class="btn btn-default btn-sm" type="button" data-original-title="Copy to clipboard"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
    </div>
</div>

</section>
</article>
</div>

<script>
var UserStyles = {};
{% for nick, name in languages %}
UserStyles['{{ nick }}'] = '{% static "css/"|add:nick|add:".css" %}';
{% endfor %}
DefaultUserStyle = '{{ settings.DEFAULT_STYLE }}';
</script>
{% endblock %}
