{% load bootstrap3 staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
    {% if request.user.is_authenticated %}
    <link href="{% static "css/"|add:request.user.style_name|add:".css" %}" rel="stylesheet" class="user-style"/>
    {% else %}
    <link href="{% static "css/monokai.css" %}" rel="stylesheet"/>
    {% endif %}
    <title>{% block title %}{{ current_site.name }} - {% trans "The sweetest pastebin in the world." %}{% endblock %}</title>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    {% block ogtags %}
    <meta property="og:image" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ current_site.domain }}{% static "images/logo.png" %}"/>
    <meta property="og:title" content="{{ current_site.name }}"/>
    <meta property="og:url" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ current_site.domain }}"/>
    <meta property="og:description" content="{% trans "The sweetest pastebin in the world." %}"/>
    {% endblock %}

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/icons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" href="{% static "images/icons/favicon-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "images/icons/favicon-16x16.png" %}" sizes="16x16">
    <link rel="manifest" href="{% static "images/icons/manifest.json" %}">
    <link rel="mask-icon" href="{% static "images/icons/safari-pinned-tab.svg" %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static "images/icons/favicon.ico" %}">
    <meta name="msapplication-config" content="{% static "images/icons/browserconfig.xml" %}">
    <meta name="theme-color" content="#cc1b1b">

    {% block extrahead %}
    {% endblock %}
</head>
<body class="{% block pageclass %}home{% endblock %}">
    {% include "analytics.html" %}
    <header class="top-header clearfix">
        <div class="container">
            <h1><a tabindex="-1" href="{% url 'main:home' %}" title="{{ current_site.name }}">{{ current_site.name }}</a></h1>
            <div class="persona">
                {% if paste %}
                <a class="burger-button{% if user.is_authenticated %} authenticated{% endif %}" id="burger" href="javascript:void(0);" title="Toggle toolbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="account" href="{% url 'main:account' %}">{{ user.email }}</a></li>
                        {% if request.user.is_staff %}
                        <li><a class="account" href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a data-next="{{ request.get_full_path }}" href="{% url "main:logout" %}" >{% trans "Logout" %}</a></li>
                    </ul>
                </div>
                {% else %}
                <a data-next="{{ request.get_full_path }}" class="login dark" href="{% url 'main:login' %}" >{% trans "Login" %}</a>
                {% endif %}
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="container">
        <article>
            {% bootstrap_messages %}
        </article>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <div class="container">
        <footer>
            <a href="/api/">API</a> | <a href="/about/">{% trans "About" %}</a> | <a href="/plugins/">{% trans "Plugins" %}</a> | {{ settings.COMMIT_HASH }}
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static "js/autosize.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
</body>
</html>
