{% load static i18n %}<!doctype html>
<html id="page-widget">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <link href="{% static "css/embed.css" %}" rel="stylesheet"/>
        {% if request.user.is_authenticated %}
        <link href="{% static "css/"|add:request.user.style_name|add:".css" %}" rel="stylesheet" class="user-style"/>
        {% else %}
        <link href="{% static "css/monokai.css" %}" rel="stylesheet"/>
        {% endif %}
    </head>
    <body>
        <article class="paste" id="paste-embed">

            {% for paste in pastes %}
                <div data-wrap="0" data-tabcontent="{{ paste.id }}" aria-hidden="{% if forloop.counter0 > 0 %}true{% else %}false{% endif %}" {% if paste %}data-rawurl="{% if request.is_secure %}https{% else %}http{% endif %}://{{ current_site.domain }}{% url "main:raw-paste" paste.id %}"{% endif %} class="pretty-paste{% if paste.language == 'markdown' or paste.language == 'textile' %} markdown-language{% endif %}">
                {% if paste %}
                {{ paste.rendered_body|safe }}
                {% else %}
                {% include "404_body.html" %}
                {% endif %}
                </div>
            {% endfor %}

            <footer>
                <div class="caption">
                    {% if pastes|length > 1 %}
                    {% for paste in pastes %}<span class="tab{% if forloop.counter0 == 0 %} active{% endif %}" data-tab="{{ paste.id }}" href="javascript:void(0);">{% if paste %}{% if paste.title %}{{ paste }}{% else %}{{ paste.id }}{% endif %}{% else %}Unknown{% endif %}</span>{% endfor %}
                    {% trans "Hosted by" %}
                    {% else %}
                    <a class="sole" target="_blank" href="{{ paste.get_full_url }}">{% if paste.title %}{{ paste }}{% else %}{% trans "Paste" %}{% endif %}</a>
                    {% trans "hosted by" %}
                    {% endif %}
                    <a target="_blank" class="website" href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ current_site.domain }}{% url 'main:home' %}" title="{{ current_site.name }}">{{ current_site.name }}</a>
                </div>
                <div class="tools">
                    <span class="copy" data-copy>Copy</span>
                    <span class="wrap" data-wrap>Wrap</span>
                    <span class="raw" data-raw>Raw</span>
                </div>
            </footer>
        </article>
        <script>
        function copyTextToClipboard(a){var b=document.createElement("textarea");b.style.position="fixed",b.style.top=0,b.style.left=0,b.style.width="2em",b.style.height="2em",b.style.padding=0,b.style.border="none",b.style.outline="none",b.style.boxShadow="none",b.style.background="transparent",b.value=a,document.body.appendChild(b),b.select();b.setSelectionRange(0, b.value.length);var c=!1;try{c=document.execCommand("copy")}catch(a){}return document.body.removeChild(b),c}

        window.addEventListener('DOMContentLoaded', function() {

            var changedHeight = function() {

                {% if host %}
                var height = document.getElementById('paste-embed').offsetHeight;

                window.parent.postMessage({ 'height': height,
                                            'paste-id': '{{ paste_id }}'
                                        }, '{{ host }}');

                {% endif %}
            };

            var tabs = document.querySelectorAll('[data-tab]');

            if(tabs.length > 0) {

                var activePasteId = document.querySelector('.active[data-tab]').dataset.tab;

                for (var i = 0; i < tabs.length; ++i) {

                    var tabContents = document.querySelectorAll('[data-tabcontent]');

                    tabs[i].addEventListener('click', function() {

                        var tabId = this.dataset.tab;

                        if(activePasteId.localeCompare(tabId) == 0)
                            return;

                        activePasteId = tabId;

                        var hasActivated = false;

                        for (var k = 0; k < tabs.length; ++k) {

                            var tab = tabs[k];
                            var tId = tab.dataset.tab;

                            if(tabId.localeCompare(tId) == 0) {

                                if(!hasActivated) {

                                    tab.className = 'tab active';
                                    hasActivated = true;
                                }
                            }
                            else
                                tab.className = 'tab';
                        }

                        if(!hasActivated)
                            return;

                        hasActivated = false;

                        for (var j = 0; j < tabContents.length; ++j) {

                            var tabContent = tabContents[j];
                            var contentId = tabContent.dataset.tabcontent;

                            if(contentId.localeCompare(tabId) == 0) {

                                if(!hasActivated) {

                                    tabContent.setAttribute('aria-hidden', 'false');
                                    hasActivated = true;
                                }
                            }
                            else
                                tabContent.setAttribute('aria-hidden', 'true');
                        }

                        changedHeight();
                    });
                }
            }

            document.querySelector('span[data-wrap]').addEventListener('click', function() {

                var paste = document.querySelector('.pretty-paste[aria-hidden="false"]');
                var wrapMode = paste.dataset['wrap'];
                var enableWrap = (wrapMode == false);

                if(enableWrap)
                {
                  paste.setAttribute('data-wrap', "1");
                }
                else
                {
                  paste.setAttribute('data-wrap', "0");
                }
            });

            document.querySelector('span[data-raw]').addEventListener('click', function() {

                var rawurl = document.querySelector('.pretty-paste[aria-hidden="false"]').dataset.rawurl;

                if(typeof rawurl == 'undefined')
                    return;

                window.open(rawurl, '_blank');
            });

            document.querySelector('span[data-copy]').addEventListener('click', function() {

                var paste= document.querySelector('.pretty-paste[aria-hidden="false"]');
                var hasMarkdown = (paste.className.indexOf('markdown-language') > 0);
                var code = '';

                if(hasMarkdown)
                  code = paste.innerText;
                else {

                    let preElement = document.querySelector('.pretty-paste[aria-hidden="false"] .paste pre');

                    if(!preElement)
                      return;

                    var codeLines = [];

                    preElement.className = 'copying';

                    [...document.querySelectorAll('.pretty-paste[aria-hidden="false"] .paste pre > span')].forEach((spanElement) => {

                      if(spanElement.id.length == 0)
                        return;

                      codeLines.push(spanElement.innerText);
                    });

                    preElement.className = '';

                    code = codeLines.join('\n');
                }

                var copyElement = this;

                copyElement.innerText = (copyTextToClipboard(code) ? 'Copied!' : 'Error :(');

                setTimeout(function() { copyElement.innerText = 'Copy'; }, 1000);
            });

            let pasteElement =  document.querySelector('.pretty-paste .paste > pre');

            if(pasteElement != null)
            {
                // Replace the double new lines when user manually copies the text of the paste
                pasteElement.addEventListener('copy', (event) => {

                  let updatedText = (document.getSelection() + '').replace('\n\n', '\n');
                  event.clipboardData.setData('text', updatedText);
                  event.preventDefault();
                  return false;
                });
            }

            changedHeight();

        }, false);
        </script>
    </body>
</html>
