{% load staticfiles i18n %}<!doctype html>
<html id="page-widget">
    <head>
        <meta charset="UTF-8"/>
        <link href="/static/css/embed.css" rel="stylesheet"/>
        {% if request.user.is_authenticated %}
        <link href="{% static "css/"|add:request.user.style_name|add:".css" %}" rel="stylesheet" class="user-style"/>
        {% else %}
        <link href="{% static "css/monokai.css" %}" rel="stylesheet"/>
        {% endif %}
    </head>
    <body>
        <article class="paste" id="paste-embed">

            <div class="pretty-paste{% if paste.language == 'markdown' %} markdown-language{% endif %}">
            {{ paste.rendered_body|safe }}
            </div>

            <footer>
                <a href="{{ paste.get_full_url }}">{% if paste.title %}{{ paste }}{% else %}{% trans "Paste" %}{% endif %}</a>
                {% trans "hosted by" %}
                <a class="website" href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ current_site.domain }}{% url 'home' %}" title="{{ current_site.name }}">{{ current_site.name }}</a>
                <a class="raw" href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ current_site.domain }}{% url "raw-paste" paste.id %}">Raw</a>
            </footer>
        </article>
        <script>
        window.addEventListener('DOMContentLoaded', function() {

            var height = document.getElementById('paste-embed').offsetHeight;

            window.parent.postMessage({ 'height': height,
                                        'paste-id': '{{ paste.id }}'
                                    }, '{{ host }}');

        }, false);
        </script>
    </body>
</html>
