{% extends "base.html" %}
{% load bootstrap3 i18n tabindex %}

{% block content %}

{% bootstrap_messages %}

<form action="{% url "home" %}" method="post" class="pastery-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {{ form.title.errors }}
        <input class="form-control" id="id_title" maxlength="500" name="title" placeholder="{{ form.title.help_text }}" type="text" tabindex="6" />
    </div>
    <div class="fieldWrapper">
        {{ form.body.errors }}
        <textarea autofocus required tabindex="1" class="form-control" cols="40" id="id_body" name="body" rows="10"></textarea>
        <div class="language">
            {{ form.raw_language|tabindex:5 }}
        </div>
    </div>
    <div class="fieldWrapper">
        {{ form.expires.errors }}
        <label for="{{ form.sender.id_for_label }}">{{ form.expires.label }}</label>
        {{ form.expires|tabindex:4 }}
    </div>

    {% buttons %}
    <button type="submit" tabindex="2" class="btn btn-primary">{% trans "Create" %}</button>
    {% endbuttons %}
</form>

{% endblock %}
