{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

{% bootstrap_messages %}

<form action="{% url "home" %}" method="post" class="pastery-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {{ form.title.errors }}
        <input class="form-control" id="id_title" maxlength="500" name="title" placeholder="The title of the paste." type="text" />
    </div>
    <div class="fieldWrapper">
        {{ form.body.errors }}
        <textarea autofocus required tabindex="1" class="form-control" cols="40" id="id_body" name="body" rows="10"></textarea>
        <div class="language">
            {{ form.raw_language }}
        </div>
    </div>
    <div class="fieldWrapper">
        {{ form.expires.errors }}
        <label for="{{ form.sender.id_for_label }}">Expires in</label>
        {{ form.expires }}
    </div>

    {% buttons %}
    <button type="submit" tabindex="2" class="btn btn-primary">Create</button>
    {% endbuttons %}
</form>

{% endblock %}
