{% extends "base.html" %}
{% load bootstrap3 i18n %}

{% block content %}
<div class="container">
    <article class="login-container">
        <h1>{% trans "Register or log in" %}</h1>
        <form action="{% url "main:login" %}" method="post" class="account-form">{% csrf_token %}
            <p> To register or log in, just enter your email address below. You will receive a link to your email, which you can click to log in.</p>
            <p>There is no username or password to remember, just your email address.</p>
            <p>Oh, and please don't share the link we will send you, as it will allow anyone to log in to your account.</p>
            {% bootstrap_form form show_label=False %}

            <input type="hidden" name="form" value="email" />

            <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
        </form>
    </article>
</div>
{% endblock %}
