{% extends "base.html" %}
{% load bootstrap3 i18n %}

{% block content %}

{% bootstrap_messages %}

<div class="paste">
    <header class="clearfix">

        <div class="btn-group button-container" id="share-dropdown">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Raw" %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <div class="btn-group">
                        <input data-placement="top" title="{% trans "Copied!" %}" type="text" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ current_site.domain }}{% url "raw-paste" paste.id %}" readonly=""/>
                    </div>
                    <div class="btn-group action-copy">
                        <button data-trigger="hover" data-toggle="tooltip" title="{% trans "Copy to clipboard" %}" aria-label="{% trans "Copy to clipboard" %}" class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
                    </div>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Link" %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <div class="btn-group">
                        <input data-placement="top" title="Copied!" type="text" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ current_site.domain }}{% url "paste" paste.id %}" readonly=""/>
                    </div>
                    <div class="btn-group action-copy">
                        <button data-trigger="hover" data-toggle="tooltip" title="{% trans "Copy to clipboard" %}" aria-label="{% trans "Copy to clipboard" %}" class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
                    </div>
                </ul>
            </div>
        </div>

        {% if paste.title %}
        <h1>{{ paste }}</h1>
        {% endif %}

    </header>

    <div class="pretty-paste{% if paste.language == 'markdown' %} markdown-language{% endif %}">
    {{ paste.rendered_body|safe }}
    </div>

    <div class="expires">
        {% blocktrans with paste.expiration|timeuntil as until %}
        {% trans "Expires in" %} {{ until }}.
        {% endblocktrans %}
    </div>

</div>

<div class="btn-container">
    <a href="{% url 'home' %}" class="btn new-paste">{% trans "New paste" %}</a>
<div>

{% endblock %}
