{% extends "base.html" %}
{% load staticfiles bootstrap3 i18n %}

{% block content %}
<div class="paste">
    <div class="container">

        {% bootstrap_messages %}

        <header class="clearfix">

            {% if paste.title %}
            <h1>{{ paste }}</h1>
            {% endif %}

            <div class="btn-group button-container" id="copy-code">

                <div class="btn-group admin-parent" role="group">
                    <a type="button" data-toggle="tooltip" title="{% trans "Clone" %}" class="btn btn-default btn-sm dropdown-toggle admin-button" href="{% url 'home' %}?clone={{ paste.id }}" type="button"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span></a>
                </div>

                {% if paste.user == request.user %}
                <div class="btn-group admin-parent" role="group">
                    <form action="{% url "delete-paste" paste.id %}" id="delete-paste" method="post">
                        {% csrf_token %}
                        <button type="submit" data-toggle="tooltip" title="{% trans "Delete" %}" class="btn btn-default btn-sm dropdown-toggle admin-button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </form>
                </div>
                {% endif %}

                {% if request.user.is_staff %}
                <div class="btn-group admin-parent" role="group">
                    <a type="button" data-toggle="tooltip" title="{% trans "Admin" %}" class="btn btn-default btn-sm dropdown-toggle admin-button" href="{% url 'admin:main_paste_change' paste.id %}" type="button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                </div>
                {% endif %}

                <div class="btn-group dropdown-parent" role="group">
                    <button type="button" title="{% trans "Embed" %}" class="btn btn-default btn-sm dropdown-toggle" type="button" data-placement="tooltip" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <div class="btn-group">
                            <input title="{% trans "Copied!" %}" type="text" value="{% include "embed_code.html" %}" readonly=""/>
                        </div>
                        <div class="btn-group action-copy">
                            <button data-trigger="hover" data-toggle="tooltip" title="{% trans "Copy to clipboard" %}" aria-label="{% trans "Copy to clipboard" %}" class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
                        </div>
                    </ul>
                </div>

                <div class="btn-group dropdown-parent" role="group">
                    <button type="button" title="{% trans "Raw" %}" class="btn btn-default btn-sm dropdown-toggle" type="button" data-placement="tooltip" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <div class="btn-group">
                            <input title="{% trans "Copied!" %}" type="text" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ current_site.domain }}{% url "raw-paste" paste.id %}" readonly=""/>
                        </div>
                        <div class="btn-group action-copy">
                            <button data-trigger="hover" data-toggle="tooltip" title="{% trans "Copy to clipboard" %}" aria-label="{% trans "Copy to clipboard" %}" class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
                        </div>
                    </ul>
                </div>
                <div class="btn-group dropdown-parent" role="group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" title="{% trans "Link" %}" type="button" data-placement="tooltip" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <div class="btn-group">
                            <input data-placement="top" title="Copied!" type="text" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ current_site.domain }}{% url "paste" paste.id %}" readonly=""/>
                        </div>
                        <div class="btn-group action-copy">
                            <button data-trigger="hover" data-toggle="tooltip" title="{% trans "Copy to clipboard" %}" aria-label="{% trans "Copy to clipboard" %}" class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
                        </div>
                    </ul>
                </div>
        </header>
    </div>

    <div class="pretty-paste{% if paste.language == 'markdown' %} markdown-language{% endif %}">
    {{ paste.rendered_body|safe }}
    </div>

    <div class="container">
        <div class="meta-footer clearfix">

            <div class="pull-right">
                {{ paste.get_language_display }}
            </div>

            <div class="pull-left">
                {% if paste.expiration %}
                {% blocktrans with paste.expiration|timeuntil as until %}
                Expires in {{ until }}
                {% endblocktrans %} |
                {% endif %}
                <form action="{% url "report-paste" paste.id %}" id="report-paste" method="post">
                    {% csrf_token %}
                    <button type="submit">Report abuse</button>
                </form>
            </div>

        </div>
    </div>

</div>

<div class="container">
    <div class="btn-container">
        <a href="{% url 'home' %}" class="btn new-paste">{% trans "New paste" %}</a>
    </div>
</div>
{% endblock %}
